<h1>Projects</h1>

<div class="projectItem">
    <h2>SuperPhy</h2>
    <p>A platform for the study of <i>E. Coli</i> genomes</p>
    <p>GitHub: <a href="https://github.com/superphy/version-1">https://github.com/superphy/version-1</a></p>
    <p>Website: <a href="https://lfz.corefacility.ca/superphy/" target="_blank">https://lfz.corefacility.ca/superphy/</a></p>
</div>
		<div class="projectItem">
			<h2>Clustermine 360</h2>
      <p>This website is used to store secondary metabolites</p>
      <p>Website: <a href="http://clustermine360.ca/" target="_blank">http://clustermine360.ca/</a></p>
			
		</div>	
		<div class="projectItem">
			<h2>Chico the robot</h2>
			<p>For the course of real-time systems, we programmed a robot that was able to follow a source of heat.</p>
		</div>

		<div class="projectItem">
			<h2>Iris KN</h2>
			<p>This is a website that I have done for an artist that I know</p>
			<p><a href="http://iriskn.com/" target = "_blank">http://iriskn.com/</a></p>
		</div>
<br><br>
    <h1>Conferences</h1>
    <div class="projectItem">
        <h2>QSEC</h2>
        <p>Attended the 2015 QSEC conference</p>
        <p><a href="" target = "_blank">Link to QSEC</a></p>
      </div>
		<div class="projectItem">
			<h2>iGem</h2>
			<p>Participated in the iGEM competition of 2013 for the uOttawa team. I was in charge of making the model to simulate the Type-I incoherent Feedforward loop.</p>
			<p><a href="http://2013.igem.org/Team:uOttawa/modeling" target = "_blank">http://2013.igem.org/Team:uOttawa/modeling</a></p>
		</div>