<div class="row conferenceTitle">
		<h2>Projects</h2>
	
	</div>

	<div fxLayout="column" class="educationSection" fxLayoutAlign="center stretch">
			<div fxLayout="row" fxLayoutAlign="center start">
				<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
				<div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
					<div fxFlex class="sideleft">BASKETFAM</div>
				</div>
				<div fxFlex.xs="60" fxFlex.gt-xs="40" fxFlex.gt-md="30">
					<p class="workDescription">A website to enable people to order groceries online and have the groceries delivered to their house (in development). Built with react and Express.</p>
					<p class="workDescription">Website:
						<a href="http://basketfam.com/">http://basketfam.com/</a>
					</p>
				</div>
				<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
			</div>
		</div>

<div fxLayout="column" class="educationSection" fxLayoutAlign="center stretch">
	<div fxLayout="row" fxLayoutAlign="center start">
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
		<div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
			<div fxFlex class="sideleft">SUPERPHY</div>
		</div>
		<div fxFlex.xs="60" fxFlex.gt-xs="40" fxFlex.gt-md="30">
			<p class="workDescription">A platform for the study of
				<i>E. Coli</i> genomes</p>
			<p class="workDescription">GitHub:
				<a href="https://github.com/superphy/version-1">https://github.com/superphy/version-1</a>
			</p>
			<p class="workDescription">Website:
				<a href="https://lfz.corefacility.ca/superphy/" target="_blank">https://lfz.corefacility.ca/superphy/</a>
			</p>
		</div>
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
	</div>
</div>


<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
	<div fxLayout="row" fxLayoutAlign="center start">
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
		<div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10" class="sideleft" style="padding-right:15px;">
			CLUSTERMINE 360
		</div>
		<div fxFlex.xs="60" fxFlex.gt-xs="40" fxFlex.gt-md="30">
			<p class="workDescription">This website is used to store secondary metabolites.</p>
			<p class="workDescription">Website:
				<a href="http://clustermine360.ca/">http://clustermine360.ca/</a>
			</p>
		</div>
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
	</div>
</div>

<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
	<div fxLayout="row" fxLayoutAlign="center start">
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
		<div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
			<div fxFlex class="sideleft">CHICO THE ROBOT</div>
		</div>
		<div fxFlex.xs="60" fxFlex.gt-xs="40" fxFlex.gt-md="30">
			<p class="workDescription">For the course of real-time systems, we programmed a robot that was able to follow a source of heat.</p>
		</div>
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
	</div>
</div>

<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
		<div fxLayout="row" fxLayoutAlign="center start">
			<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
			<div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
				<div fxFlex class="sideleft">NICOLAS TREMBLAY.CA</div>
			</div>
			<div fxFlex.xs="60" fxFlex.gt-xs="40" fxFlex.gt-md="30">
				<p class="workDescription">This website is built using Angular and Flex-layout</p>
			</div>
			<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
		</div>
	</div>

<div class="row conferenceTitle">
	<h2>Conferences</h2>

</div>

<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
	<div fxLayout="row" fxLayoutAlign="center start">
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
		<div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
			<div fxFlex class="sideleft">QSEC</div>
		</div>
		<div fxFlex.xs="60" fxFlex.gt-xs="40" fxFlex.gt-md="30">
			<p class="workDescription">Attended the 2015 QSEC conference</p>
		</div>
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
	</div>
</div>

<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
	<div fxLayout="row" fxLayoutAlign="center start">
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
		<div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
			<div fxFlex class="sideleft">iGEM</div>
		</div>
		<div fxFlex.xs="60" fxFlex.gt-xs="40" fxFlex.gt-md="30">
			<p class="workDescription">Won gold medal in North American competition.</p>
			<p class="workDescription">Participated in the iGEM competition of 2013 for the uOttawa team. I was in charge of making the model to simulate the Type-I
				incoherent Feedforward loop.</p>
			<p class="workDescription">
				<a href="http://2013.igem.org/Team:uOttawa/modeling" target="_blank">http://2013.igem.org/Team:uOttawa/modeling</a>
			</p>
		</div>
		<div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
	</div>
</div>

<!-- 


<div class="projectItem">
	<h2>SuperPhy</h2>
	<p>A platform for the study of
		<i>E. Coli</i> genomes</p>
	<p>GitHub:
		<a href="https://github.com/superphy/version-1">https://github.com/superphy/version-1</a>
	</p>
	<p>Website:
		<a href="https://lfz.corefacility.ca/superphy/" target="_blank">https://lfz.corefacility.ca/superphy/</a>
	</p>
</div>
<div class="projectItem">
	<h2>Clustermine 360</h2>
	<p>This website is used to store secondary metabolites</p>
	<p>Website:
		<a href="http://clustermine360.ca/" target="_blank">http://clustermine360.ca/</a>
	</p>

</div>
<div class="projectItem">
	<h2>Chico the robot</h2>
	<p>For the course of real-time systems, we programmed a robot that was able to follow a source of heat.</p>
</div>

<div class="projectItem">
	<h2>Iris KN</h2>
	<p>This is a website that I have done for an artist that I know</p>
	<p>
		<a href="http://iriskn.com/" target="_blank">http://iriskn.com/</a>
	</p>
</div>
<br>
<br>
<h1>Conferences</h1>
<div class="projectItem">
	<h2>QSEC</h2>
	<p>Attended the 2015 QSEC conference</p>
	<p>
		<a href="" target="_blank">Link to QSEC</a>
	</p>
</div>
<div class="projectItem">
	<h2>iGem</h2>
	<p>Participated in the iGEM competition of 2013 for the uOttawa team. I was in charge of making the model to simulate the Type-I
		incoherent Feedforward loop.</p>
	<p>
		<a href="http://2013.igem.org/Team:uOttawa/modeling" target="_blank">http://2013.igem.org/Team:uOttawa/modeling</a>
	</p>
</div> -->