<div class="row topBar">
  <!-- all of the links to the different sections of the website -->
  <a routerLink="/work" class="section">Work Experience</a>
    <a routerLink="/skills" class="section">Skills</a>
    <a routerLink="/projects" class="section">Projects</a>
</div>

<div class="row bottomBar">
    <!-- all of the links to the different sections of the website -->
    <span>Nicolas Tremblay</span>
    <p>
        <a href="mailto:ns.tremblay@gmail.com">ns.tremblay@gmail.com</a>
      </p>
  </div>

<router-outlet></router-outlet>

<!-- 
<div fxLayout.lt-sm="column" fxLayout.gt-xs="row" fxFlex>

  
  <div fxFlex fxFlex.gt-xs="70" fxFlexOrder.gt-xs="1" fxFlexOrder.lt-sm="2"  class="content">
  </div>
  <div fxFlex fxFlex.gt-xs="30" fxFlexOrder.gt-xs="2" fxFlexOrder.lt-sm="1">
    <p fxHide fxShow.gt-sm class="name">Nicolas Tremblay</p>
    <p fxHide fxShow.sm class="name nameMiddle">Nicolas Tremblay</p>
    <p fxHide fxShow.lt-sm class="name nameSmall">Nicolas Tremblay</p>
    <mat-nav-list>
          <a mat-list-item routerLink="/skills" [ngClass]="(currentSection=='skills')?'selected-item':''"> <span class="linkText">Skills</span> </a>
          <a mat-list-item routerLink="/projects" [ngClass]="(currentSection=='projects')?'selected-item':''"> <span class="linkText">Projects</span> </a>
          <a mat-list-item routerLink="/volunteering" [ngClass]="(currentSection=='volunteering')?'selected-item':''"> <span class="linkText">Volunteering</span> </a>
          <a mat-list-item routerLink="/work" [ngClass]="(currentSection=='work')?'selected-item':''"> <span class="linkText">Work Experience</span> </a>
       </mat-nav-list>
  </div>
</div> -->