<div fxLayout="column" class="nameMainContainer" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.xs="100" fxFlex.gt-xs="100" fxFlex.gt-md="100" class="centerNameText">
      <img class="skillsImage" src="/assets/pictures/skillsimage.png" />
    </div>
  </div>
</div>

<div fxLayout="column" class="educationSection" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
    <div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
      <div fxFlex class="sideleft">EDUCATION</div>
    </div>
    <div fxFlex.xs="60" fxFlex.gt-xs="40" fxFlex.gt-md="30">
      <span class="institution">UNIVERSITY OF OTTAWA</span>
      <br />
      <span class="institutionDescription">FALL 2013 - FALL 2016 / OTTAWA,ON</span>
      <br />
      <span class="institutionDescription">SOFTWARE ENGINEERING</span>
      <br />
      <br />
      <span class="institution">UNIVERSITY OF OTTAWA</span>
      <br />
      <span class="institutionDescription">FALL 2010 - SPRING 2013 / OTTAWA,ON</span>
      <br />
      <span class="institutionDescription">BIOCHEMISTRY</span>
    </div>
    <div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
  </div>
</div>

<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
    <div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
      <div fxFlex class="sideleft">EXPERIENCE</div>
    </div>
    <div fxFlex.xs="60" fxFlex.gt-xs="50" fxFlex.gt-md="30">
      <span class="workTitle">SENIOR WEB DEVELOPER</span>
      <br />
      <span class="workDescription">Winter 2017 - Present / OTTAWA,ON</span>
      <br />
      <span class="workDescription">Office of the Auditor General of Canada</span>
      <ul class="workDescription">
        <li>Integrated Angular within the office's projects enabeling rapid iteration of design in development.</li>
        <li>Developed and maintained Drupal 7 modules, enhancing the Canadian Council of Legislative Auditors website.
          <a href="http://www.ccola.ca">www.ccola.ca</a>
        </li>
        <li>Created an email notification system using Angular and .NET Core.</li>
        <li>Developed Concept of Operations Documentation in order to define many systems.</li>
      </ul>
      <br />
      <br />

      <!-- Coop statistics Canada -->
      <span class="workTitle">E-LEARNING PROGRAMMER (INTERNSHIP)</span>
      <br />
      <span class="workDescription">WINTER 2016 - FALL 2016 / OTTAWA,ON</span>
      <br />
      <span class="workDescription">Statistics Canada</span>
      <ul class="workDescription">
        <li>Consult with subject matter experts in order to develop compelling courses</li>
        <li>Work with the business transformation division to help map new business processes.</li>
      </ul>


      <br />
      <br />

      <!-- Coop bioinformatitian -->
      <span class="workTitle">CO-OP BIOINFORMATICS RESEARCH TECHNICIAN</span>
      <br />
      <span class="workDescription">SUMMER 2015 / LETHBRIDGE, AB</span>
      <br />
      <span class="workDescription">Public Health Agency of Canada</span>
      <ul class="workDescription">
        <li>Implemented a continuous integration platform for SuperPhy using GitHub</li>
        <li>Used Perl to developed an algorithm in order to mine genome metadata</li>
        <li>Implemented feature to better categorize and retrieve
          <i>E. Coli</i> genomes</li>
        <li>
          <a href="https://lfz.corefacility.ca/superphy/">https://lfz.corefacility.ca/superphy/</a>
        </li>

      </ul>


      <br />
      <br />

      <!-- Coop bioinformatitian -->
      <span class="workTitle">SOFTWARE DEVELOPER</span>
      <br />
      <span class="workDescription">WINTER 2014 - SUMMER 2014 / OTTAWA, ON</span>
      <br />
      <span class="workDescription">University of Ottawa</span>
      <ul class="workDescription">
        <li>Created an efficient hashing algorithm to extract records in a database containing over 80 million records. This
          enabled better analysis and correlations between genomes.</li>
        <li>Configured Mono framework on Ubuntu 14.04 in order to run a .NET application</li>
        <li>Created c# scripts to continuously update information in the database</li>
        <li>Made modifications to the .NET application’s interface.</li>
      </ul>


      <br />
      <br />

      <!-- Coop bioinformatitian -->
      <span class="workTitle">WEB DEVELOPER</span>
      <br />
      <span class="workDescription">FALL 2013 - SPRING 2015 / GATINEAU, QC</span>
      <br />
      <span class="workDescription">Canada-Brasil Futebol Academ</span>
      <ul class="workDescription">
        <li>Designed and developed a registration interface for the website, allowing paperless registration</li>
        <li>Integrated Desjardins Monetico services into the website, enabling direct payments from patrons</li>
        <li>Analyzed and implemented the client’s requirements through monthly meetings, monthly sprints, and agile programming</li>
      </ul>

    </div>
    <div fxFlex.xs="0" fxFlex.gt-xs="10" fxFlex.gt-md="30"></div>
  </div>
</div>

<br>
<br>

<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
    <div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
      <div fxFlex class="sideleft">PUBLICATIONS</div>
    </div>
    <div fxFlex.xs="60" fxFlex.gt-xs="50" fxFlex.gt-md="30">
      <span class="workDescription">Nicolas Tremblay, Patrick B. Hill, Kyle R. Conway, Christopher N. Boddy,
        <strong>The use of ClusterMine360 for the analysis of polyketide and non-ribosomal peptide biosynthetic pathways, Nonribosomal
          Peptide and Polyketide Biosynthesis</strong>, December 2015</span>
    </div>
    <div fxFlex.xs="0" fxFlex.gt-xs="10" fxFlex.gt-md="30"></div>
  </div>
</div>




<br>
<br>

<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
    <div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
      <div fxFlex class="sideleft">RESEARCH EXPERIENCE</div>
    </div>
    <div fxFlex.xs="60" fxFlex.gt-xs="50" fxFlex.gt-md="30">
      <span class="workTitle">SUMMER RESEARCH STUDENT</span>
      <br />
      <span class="workDescription">Summer 2013 / OTTAWA,ON</span>
      <br />
      <span class="workDescription">Faculty of Medicine</span>
      <ul class="workDescription">
        <li>Performed qPCR, qPCR analysis, PCR, cell culture, luciferase, microscope quantification analysis, ligation, vector
          growth, cell staining in order to study stem cell differentiation into skeletal and cardiac muscle cells</li>
        <li>Presented work in front of fellow researchers</li>
      </ul>

      <br />
      <br />

      <!-- Coop statistics Canada -->
      <span class="workTitle">iGEM COMPETITION</span>
      <br />
      <span class="workDescription">SUMMER 2013 / OTTAWA,ON</span>
      <br />
      <span class="workDescription">uOttawa iGEM team, University of Ottawa</span>
      <ul class="workDescription">
        <li>Extracted data from high throughput experiment, using VBA scripts, in order to study trends in type 3 feed forward
          loop experiment</li>
        <li>Won gold medal in North American championship</li>
      </ul>


      <br />
      <br />

      <!-- Coop bioinformatitian -->
      <span class="workTitle">CLINICAL TRIAL RESEARCHER</span>
      <br />
      <span class="workDescription">2010 - 2013 / OTTAWA, ON</span>
      <br />
      <span class="workDescription">Public Health Agency of Canada</span>
      <ul class="workDescription">
        <li>Collected clinical trials results in order to determine best drug cocktail for new treatments</li>
      </ul>
    </div>
    <div fxFlex.xs="0" fxFlex.gt-xs="10" fxFlex.gt-md="30"></div>
  </div>
</div>

<br>
<br>

<div fxLayout="column" class="experienceSection" fxLayoutAlign="center stretch">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex.xs="0" fxFlex.gt-xs="20" fxFlex.gt-md="30"></div>
    <div fxFlex.xs="40" fxFlex.gt-xs="20" fxFlex.gt-md="10">
      <div fxFlex class="sideleft">VOLUNTEERING</div>
    </div>
    <div fxFlex.xs="60" fxFlex.gt-xs="50" fxFlex.gt-md="30">
      <span class="workTitle">SOFTWARE DEVELOPER</span>
      <br />
      <span class="workDescription">WINTER 2017 - FALL 2017 / OTTAWA,ON</span>
      <br />
      <span class="workDescription">Clinique d’Optométrie De Touraine</span>
      <ul class="workDescription">
        <li>Developed Ionic Ipad application enabeling optometrists to enter eye exam information.</li>
        <li>Developed API using express and MongoDB storage to keep and maintain patient information.</li>
      </ul>

    </div>
    <div fxFlex.xs="0" fxFlex.gt-xs="10" fxFlex.gt-md="30"></div>
  </div>
</div>